/* COLORS */

$bg-100: #c0c1c5;
$bg-700: #393a3e;

$main-bg1: #c0b98c;
$main-bg2: #c8c197;



@font-face {
    font-family: DS-Digital;
    src: url(/resources/fonts/DS-Digital/DS-DIGIB.TTF);
    
}

@font-face {
    font-family: Eurostile;
    src: url(/resources/fonts/Eurostile-Font/Eurostile-Bold-Font.otf)
}
