/* COLORS */

$body-color: #c0c1c5;
$bg-700: #393a3e;

$main-bg1: #c0b98c;
$main-bg2: #c8c197;

$main-bg3: #0b1014;
$main-bg4: #383e3e;

$watch-100: #eff3f4;


@font-face {
    font-family: DS-Digital;
    src: url(/resources/fonts/DS-Digital/DS-DIGIB.TTF);
    
}

@font-face {
    font-family: Eurostile-bold;
    src: url(/resources/fonts/Eurostile-Font/Eurostile-Bold-Font.otf);
}

@font-face{
    font-family: Eurostile;
    src: url(/resources/fonts/Eurostile-Font/Eurostile-Regular-Font.otf);

}




