@import 'reset';
@import 'config';



body{
    height: 100vh;
    background: radial-gradient($bg-100, $bg-700 100%);
    background-repeat: no-repeat;  
    display: grid;
    place-content: center;
    

//HEADER SECTION

    .header-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;


        .brand{
            font-family: "Eurostile-bold", sans-serif;
            font-size: 20px;
        }
    
        .chronograph{
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
            font-style: italic;
            font-weight: bold;
        }

    }


//TEXT DISPLAY 


    

}


