@import 'reset';
@import 'config';


html {
    height: 100%;

}

body {
    background: radial-gradient(at 0% 0%, $bg-700 50%, $main-bg4 100%);


    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .bracelet {
            width: 245px;
            height: 40px;


            .outer-band {

                width: 150px;
                height: 36px;
                position: absolute;
                background: linear-gradient(40deg, #bdbdbd 10%, #999 100%);
                clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
            }

            .first-band {
                width: inherit;
                height: inherit;
                background: linear-gradient(40deg, #999 10%, #eee 50%, #999 100%);
                clip-path: polygon(0 0, 100% 0, 95% 100%, 60% 100%, 60% 70%, 40% 70%, 40% 100%, 5% 100%);


                .inner-band {

                    width: 245px;
                    height: 40px;
                    border-top: 4px solid #999;



                }
            }
        }

        .top {
            transform: scaleY(-1);
        }


        .watch-notch {
            position: relative;
            overflow: visible;



            .notch-left {

                background: linear-gradient(40deg, #999 10%, #eee 50%, #999 100%);
                width: 25px;
                height: 160px;
                clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 10%);
                border-radius: 35%;
                position: absolute;
                top: 50px;
                left: -13px;




            }

            .notch-right {
                background: linear-gradient(40deg, #999 15%, #eee 50%, #999 85%);
                width: 25px;
                height: 160px;
                clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 10%);
                border-radius: 35%;
                transform: rotate(0.5turn);
                position: absolute;
                top: 50px;
                left: 295px;
            }

            .notch-button {

                width: 15px;
                height: 15px;
                border: 1px solid #989f7c;
                background: linear-gradient(to bottom, #fbfbfa 30%, #4f4a42 60%, #aea084);


            }

            .left {
                position: absolute;
                left: -20px
            }

            .right {
                position: absolute;
                left: 312px;




            }

            .top {
                top: 80px;

            }

            .bottom {
                top: 160px;
            }



            .watch-body {
                border: 2px solid #777;
                background: linear-gradient(40deg, #999 15%, #bbb 30%, #ccc 50%, #bbb 70%, #999 85%);
                width: $width;
                height: $height;
                clip-path: polygon(0 20%, 10% 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0 80%);
                border-radius: 11% / 35%;
                display: grid;
                place-content: center;


                .watch-glass {
                    background-color: $main-bg3;
                    width: (calc($width) * 0.9);
                    height: (calc($height) * 0.9);
                    clip-path: polygon(0 20%, 10% 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0 80%);
                    border-radius: 16% / 35%;

                    .watch-core {
                        width: (calc($width) * 0.84);
                        height: (calc($height) * 0.84);
                        clip-path: polygon(0 20%, 10% 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0 80%);
                        border-radius: 16% / 35%;
                        background-color: $main-bg3;
                        border: 2px solid $main-bg2;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 4px;


                        .header {

                            width: 210px;
                            color: $watch-100;
                            border-bottom: 1px solid $main-bg2;



                            h1 {
                                font-family: Eurostile-bold, sans-serif;
                                font-size: 19px;
                            }

                            p {
                                color: $main-bg2;
                                font-weight: bold;
                                font-style: italic;
                                font-size: 14px;
                            }
                        }

                        .footer {

                            width: 210px;
                            color: $watch-100;
                            border-top: 1px solid $main-bg2;
                            margin-top: 1px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;



                            p {
                                color: $main-bg2;
                                font-weight: bold;
                                font-style: italic;
                                font-size: 14px;

                            }

                            img {
                                width: 50px;
                                height: 20px;
                            }
                        }


                        .blue-border {
                            background-color: $blue-border;
                            width: 240px;
                            height: 140px;
                            clip-path: polygon(0 15%, 5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%);
                            border-radius: 8% / 32%;

                            .black-line {
                                background-color: $main-bg3;
                                width: 240px;
                                height: 11px;
                                position: absolute;
                                top: 130px;
                                z-index: -10;
                            }

                            .main-frame {
                                background-color: $main-bg3;
                                width: (calc(240px) * 0.91);
                                height: (calc(140px) * 0.9);
                                clip-path: polygon(0 15%, 5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%);
                                border-radius: 8% / 32%;
                                color: $watch-100;
                                display: grid;
                                place-content: center;


                                .inner-wrap {
                                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                    font-size: 11px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;

                                    .mode-wrap {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        gap: 4px;
                                    }

                                    .lithium {
                                        color: $main-bg2;
                                    }

                                }

                                .inner-main {
                                    width: 190px;
                                    height: 90px;
                                    border: 1px solid $main-bg2;
                                    border-radius: 10px;
                                    display: grid;
                                    place-content: center;


                                    .timer-frame {
                                        width: 178px;
                                        height: 78px;
                                        border-radius: 8px;
                                        background: $main-bg2;
                                        color: $main-bg3;
                                        line-height: 0.9;
                                        font-family: DS-Digital, sans-serif;
                                        display: flex;
                                        flex-direction: column;





                                        .date-wrap {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: baseline;
                                            justify-content: space-between;

                                            .timeFormatIcon {
                                                font-family: Arial, Helvetica, sans-serif;
                                                font-weight: 800;
                                                font-size: 11px;
                                                padding-left: 11px;

                                            }
                                            .timeFormatIcon2 {
                                                font-family: Arial, Helvetica, sans-serif;
                                                font-weight: 800;
                                                font-size: 11px;
                                                padding-left: 11px;
                                                display: none;

                                            }

                                            .icon-watch {
                                                padding-left: 11px;
                                            }



                                            #date,
                                            #day {
                                                font-family: DS-Digital, sans-serif;
                                                font-size: 1.8rem;
                                                font-weight: 900;
                                            }
                                        }





                                    }

                                    .time-wrap,
                                    .stopwatch-wrap {

                                        display: flex;
                                        flex-direction: row;
                                        align-items: baseline;
                                        justify-content: flex-end;






                                        #time-hour,
                                        #time-12hour,
                                        #time-min,
                                        #time-sec,
                                        #time-ampm,
                                        .time-colon,
                                        #stopwatch-ms,
                                        #stopwatch-min,
                                        #stopwatch-sec, 
                                        .stopwatch-colon {

                                            
                                            font-family: 'DS-Digital', sans-serif;





                                        }

                                        #time-ampm,
                                        #time-12hour{
                                            display: none;
                                        };


                                        #time-sec,
                                        #time-ampm,
                                        #stopwatch-ms {

                                            font-size: 1.75rem;
                                            font-weight: 500;
                                            width: 33px;
                                        }


                                        #time-hour,
                                        #time-12hour,
                                        #time-min,
                                        #stopwatch-min,
                                        #stopwatch-sec {
                                            font-size: 58px;
                                            font-weight: 900;
                                            width: 62px;
                                        }

                                        .time-colon,
                                        .stopwatch-colon {
                                            width: fit-content;
                                            font-size: 48px;
                                            font-weight: 900;
                                        }

                                    }

                                }
                            }

                        }
                    }


                }

            }

        }


    }


}